<ul>
        <li class = "tableColor">Angular JS</li>
        <li class = "tableColor">Ember JS</li>
        <li class = "tableColor">Express JS</li>
        <li class = "tableColor">React JS</li>
</ul>