    <table>
        <th class="tableColor">
            FrameWorks
        </th>
        <th>Language</th>
        <tr class="tableColor">
            <td>
                Ember JS
            </td>
            <td>
                JS
            </td>
        </tr>
        <tr class="tableColor">
            <td>
                vue JS
            </td>
             <td>
                JS
            </td>
        </tr>
        <tr class="tableColor">
            <td>
                Express JS
            </td>
             <td>
                JS
            </td>
        </tr>
    </table>